/*
 ======================
  Footer
 ======================
*/
@import "variables";


footer {
  background-color: $footer-bg;
  width: 100%;
  margin:0;
  color: $color-white;
  clear: both;

  .row {
    margin: 0 60px;
    padding: 30px;
    .col-lg-12 {
      p {
        text-align: center;
      }
    }
  }

  .footer-col-one,
  .footer-col-two,
  .footer-col-three,
  .footer-col-four{
    text-align: left;

    h3 {
      font-size: $font-size-h3;
    }
  }
  
  // Left column
  .footer-col-one, .footer-col-one, .footer-col-three, .footer-col-four {

    @media (min-width: $screen-sm-min) {
    }
    
    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {
    }
  }

  p {
    padding: 10px 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin-bottom: 0;

    li {
      display: list-item;
      padding: 0;
      font-size: $footer-font-size;

      @media (min-width: $screen-md-min) {
      }

      a,
      a:visited {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 0;
        color: #ffffff;
      }
    }
  }
}