/*
 ===================
  General Styles
 ===================
 *
 *
*/

@import "variables";

html,
body {
  height: 100%;
}

.aligncenter{
  width: 100%;
}

body {
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
}

/*
 =================
  Basic structure
 =================
*/

.main {

}

.content {
  width: 100%;
}

.sidebar {

}

.sidebar-bottom {
}



/*
 =================
  Links
 =================
*/
a,
a:visited {
  display: inline-block;
  color: $text-color;
  
  &:hover,
  &:active,
  &:focus {
    color: currentColor;
  }
}

a[href*="mailto"] {
  color: orange;
}

/*
 =================
  Media
 =================
*/
iframe,
object,
img {
  max-width: 100%;
  height: auto;
}

/*
 =================
  Headings
 =================
*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 11px;
}

h3 {
  line-height: 1.3;
}

/*
 =================
  Text
 =================
*/

p {
  margin-bottom: 21px;
}

blockquote {
  border-left: 0;
  font-size: $font-size-h2;
  text-transform: uppercase;
}

a,
a:hover,
a:active,
a:visited,
a:focus,
a:focus:active {
  text-decoration: none;
}

.color-blue {
  color: blue !important;
}

.color-purple {
  color: purple !important;
}

.color-green {
  color: green !important;
}

.color-brown {
  color: brown !important;
}

.color-white-eggshell {
  color: white !important;
}

.color-white-pink {
  color: pink !important;
}

/*
 ======================
  Forms
 ======================
*/

button,
.btn {
  background-color: orange;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;

  &:hover {
    background-color: orange;
    color: white;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}


/*
 ======================
  Pages
 ======================
*/
article.page,
article.post {
  margin: 0 $space-xs-right 0 $space-xs-left;

  @media(min-width: $screen-sm-min) {
    margin: 0 $space-sm-right 0 $space-sm-left;
  }

  @media(min-width: $screen-md-min) {
    margin: 0 $space-md-right 0 $space-md-left;
  }

  @media(min-width: $screen-lg-min) {
    margin: 0 $space-md 0 $space-sm;
  }
}

article.post.teaser,
article.page.teaser {
  margin: 0;
  float: left;
}

/*
 ===========
  WordPress
 ===========
*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
