/*
 ======================
  Teaser
 ======================
*/
/*
 ===================
  Variables
 ===================
 *
 * - General
 * - Header
 * - Navigation
 * - Footer
*/
/*
 ===================
  General
 ===================
*/
/*
 ===================
  Header
 ===================
*/
/*
 ===================
  Navigation
 ===================
*/
/*
 ===================
  Content
 ===================
*/
/*
 ===================
  Teaser
 ===================
*/
/*
 ===================
  Footer
 ===================
*/
@media (min-width: 1200px) {
  .sidebar .teaser {
    height: 450px; } }

.teaser {
  min-height: 250px;
  height: auto;
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat; }
  @media (min-width: 370px) {
    .teaser {
      height: 250px; } }
  @media (min-width: 765px) {
    .teaser {
      height: 300px; } }
  @media (min-width: 1200px) {
    .teaser {
      height: 400px; } }
  @media (min-width: 1600px) {
    .teaser {
      height: 440px; } }
  @media (min-width: 1800px) {
    .teaser {
      height: 500px; } }
  @media (min-width: 992px) and (max-width: 1450px) {
    .teaser h2 {
      font-size: 2.3vw; } }
  .teaser .teaser-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .teaser .teaser-bg img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: none;
      min-height: 100%;
      width: auto;
      height: 430px; }
      @media (min-width: 370px) {
        .teaser .teaser-bg img {
          height: 250px; } }
      @media (min-width: 765px) {
        .teaser .teaser-bg img {
          height: 300px; } }
      @media (min-width: 1200px) {
        .teaser .teaser-bg img {
          height: 400px; } }
  .teaser .teaser-inner {
    padding: 35px;
    width: 100%;
    height: 100%; }
    @media (max-width: 1920px) {
      .teaser .teaser-inner {
        padding: 40px; } }
    @media (max-width: 375px) {
      .teaser .teaser-inner {
        padding: 25px; } }
    @media (min-width: 370px) {
      .teaser .teaser-inner {
        padding: 35px; } }
    @media (min-width: 765px) {
      .teaser .teaser-inner {
        padding: 35px; } }
    @media (min-width: 1200px) {
      .teaser .teaser-inner {
        padding: 35px; } }
    .teaser .teaser-inner .teaser-arrow {
      width: 50px;
      height: 50px;
      bottom: 40px;
      left: 87px; }
  .teaser h1, .teaser h2, .teaser h3 {
    word-wrap: normal; }
  .teaser .teaser-topic {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 21px; }
    .teaser .teaser-topic a {
      color: currentColor; }
  .teaser .teaser-content {
    color: #3b3a3a; }
  .teaser .teaser-link {
    bottom: 40px;
    left: 87px; }
    @media (min-width: 370px) {
      .teaser .teaser-link {
        bottom: 20px; } }
    @media (max-width: 375px) {
      .teaser .teaser-link {
        bottom: 15px; } }
    @media (min-width: 765px) {
      .teaser .teaser-link {
        bottom: 35px; } }
    @media (min-width: 1200px) {
      .teaser .teaser-link {
        bottom: 35px; } }

/*
 ======================
  Themes
 ======================
*/
.teaser.teaser-theme-blue {
  background-color: #00A4C9; }
  .teaser.teaser-theme-blue .teaser-topic {
    color: #ffffff; }

.teaser.teaser-theme-green {
  background-color: darkolivegreen; }
  .teaser.teaser-theme-green .teaser-topic {
    color: purple; }

.teaser.teaser-cites.teaser-theme-green .teaser-topic {
  color: blue; }

.teaser.teaser-theme-purple {
  background-color: purple; }
  .teaser.teaser-theme-purple .teaser-topic {
    color: white; }
  .teaser.teaser-theme-purple .teaser-content {
    color: white; }

.teaser.teaser-theme-brown {
  background-color: brown; }
  .teaser.teaser-theme-brown .teaser-topic {
    color: white; }

.teaser.teaser-theme-white-seashell {
  background-color: seashell; }
  .teaser.teaser-theme-white-seashell .teaser-topic {
    color: blue; }

.teaser.teaser-theme-white-pink {
  background-color: pink; }
  .teaser.teaser-theme-white-pink .teaser-topic {
    color: white; }

.teaser.teaser-theme-brown .teaser-link .teaser-link-icon,
.teaser.teaser-theme-white-eggshell .teaser-link .teaser-link-icon,
.teaser.teaser-theme-white-pink .teaser-link .teaser-link-icon {
  background-size: 32px 32px; }
